.venv/
venv/
ENV/

__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.ruff_cache/

*.pth
*.pt
*.onnx
*.zip
*.tar.gz
data/

.env
*.pem

.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

.vscode/
.idea/
.DS_Store
Thumbs.db